import { Module } from '@nestjs/common';
{{&routeControllerDirect}}
{{&routeServiceDirect}}

@Module({
  controllers: [{{tableClassController}}],
  providers: [{{tableClassService}}],
  imports: [],
})
export class {{tableClassModule}} {}