import { Module } from '@nestjs/common';
import { DatabaseModule } from './database/database.module';


{{#tables}}
{{&routeModuleDirect}}
{{/tables}}
{{#auth}}
{{&routeModuleDirectAuth}}
{{/auth}}


@Module({
  imports: [DatabaseModule,
    {{#tables}}
    {{tableClassModule}},
    {{/tables}}
    {{#auth}}
    {{moduleAuth}},
    {{/auth}}
   ],
  controllers: [],
  providers: [],
})
export class AppModule {}

    
