import { Module } from '@nestjs/common';
import { ConfigTypeormModule } from './config/config.typeorm.module'


{{#tables}}
{{&routeModuleDirect}}
{{/tables}}


@Module({
  imports: [
   ConfigTypeormModule,
   {{#tables}}
   {{tableClassModule}},
   {{/tables}}
   ],
  controllers: [],
  providers: [],
})
export class AppModule {}

    
