import { Module } from '@nestjs/common';
import { TypeOrmModule } from '@nestjs/typeorm'
{{&routeControllerDirect}}
{{&routeServiceDirect}}
{{&routeEntityDirect}}
@Module({
  imports: [TypeOrmModule.forFeature([{{tableEntity}}])],
  controllers: [{{tableClassController}}],
  providers: [{{tableClassService}}],
})
export class {{tableClassModule}} {}