import {
  HttpException,
  HttpStatus,
  Inject,
  Injectable,
  Res,
} from '@nestjs/common';
import { REPOSITORIES } from 'src/database/sequalize.constants';
import { {{EnityName}} } from '../entities/{{tablePluralize}}.entity';
import { {{tableClass}}Dto } from '../dtos/{{tablePluralize}}.dto';

  @Injectable()
  export class {{tableClass}}Service {
    constructor(
    @Inject(REPOSITORIES.{{tableUppercase}})
    private readonly _{{tableClass}}Repository: typeof {{EnityName}},
  ) {}
    async findAll() {
      const _{{table}} = await this._{{tableClass}}Repository.findAll<any>();
      return _{{table}}.map({{tableInitial}} => new {{tableClass}}Dto({{tableInitial}}));
    }
  };



