
  
import {
  Body,
  Controller,
  Delete,
  Get,
  HttpException,
  HttpStatus,
  Inject,
  Param,
  Post,
  Put,
  Query,
  Req,
  Res,
  UseGuards,
} from '@nestjs/common';
import {  ApiTags } from '@nestjs/swagger';
import { {{tableClass}}Service } from '../services/{{tablePluralize}}.service';

@Controller('{{middleDashName}}')
@ApiTags('{{middleDashName}}')
  export class {{tableClass}}Controller {
   constructor(
    private readonly _{{tableClass}}Service: {{tableClass}}Service,
  ) {}
  @Get()
  findAll() {
    return this._{{tableClass}}Service.findAll();
  }
}



