
  import { ApiProperty, ApiPropertyOptional } from '@nestjs/swagger';
    {{#foreignsRelations}}
      import { {{targetModel}} } from '../../{{namePluralize}}/models/{{namePluralize}}.model'
    {{/foreignsRelations}}
    {{#relations}}
      import { {{TableNameRefModel}} } from '../../{{TableNameRefPluralize}}/models/{{TableNameRefPluralize}}.model';
    {{/relations}}
  import { {{modelName}} } from '../models/{{tablePluralize}}.model'
  export class {{tableClass}}Dto {
    constructor(
      register: {{modelName}}
    ){
       {{#properties}}
        this.{{nameCamelCase}}=register.{{nameCamelCase}}
      {{/properties}}
      {{#relations}}
         this.{{TableNameRefPlural}}= register.{{TableNameRefPlural}}
      {{/relations}}
      {{#foreignsRelations}}
        this.{{namePlural}} = register.{{namePlural}}
      {{/foreignsRelations}}
    }
  {{#properties}}
    {{#primary}}
      @ApiPropertyOptional()
      {{name}}?: {{type}};
    {{/primary}}
    {{^primary}}
      @ApiProperty()
      {{nameCamelCase}}?: {{type}};
    {{/primary}}
  {{/properties}}
   {{#relations}}
      @ApiProperty()
      {{TableNameRefPlural}}: {{TableNameRefModel}};
    {{/relations}}
     {{#foreignsRelations}}
      @ApiProperty()
      {{namePlural}}?: {{targetModel}}[];
    {{/foreignsRelations}}
};



