
{{#foreignsRelations}}
import { {{targetModel}} } from '../../{{namePluralize}}/models/{{namePluralize}}.model'
{{/foreignsRelations}}

{{#relations}}
import { {{TableNameRefModel}} } from '../../{{TableNameRefPluralize}}/models/{{TableNameRefPluralize}}.model';
{{/relations}}

  export class {{modelName}} {
    {{#properties}}
    {{nameCamelCase}}?:{{type}}
    {{/properties}}
    {{#foreignsRelations}}
    {{namePlural}}?: {{targetModel}}[];
    {{/foreignsRelations}}
    {{#relations}}
    {{TableNameRefPlural}}: {{TableNameRefModel}};
    {{/relations}}
    constructor(
      {
        {{#properties}}
        {{nameCamelCase}},
        {{/properties}}
      }:{
        {{#properties}}
        {{nameCamelCase}}?:{{type}},
        {{/properties}}
      }
    ){
       {{#properties}}
        this.{{nameCamelCase}}={{nameCamelCase}}
      {{/properties}}
    }
};



