
{{#foreignsRelations}}
{{&routeModel}}
{{/foreignsRelations}}

{{#relations}}
{{&routeModel}}
{{/relations}}

  export class {{tableClassModel}} {
    {{#properties}}
    {{nameCamelCase}}?:{{type}}
    {{/properties}}
    {{#foreignsRelations}}
    {{tableCamelPluralize}}?: {{tableClassModel}}[];
    {{/foreignsRelations}}
    {{#relations}}
    {{tableCamelCase}}: {{tableClassModel}};
    {{/relations}}
    constructor(
      {
        {{#properties}}
        {{nameCamelCase}},
        {{/properties}}
      }:{
        {{#properties}}
        {{nameCamelCase}}?:{{type}},
        {{/properties}}
      }
    ){
       {{#properties}}
        this.{{nameCamelCase}}={{nameCamelCase}}
      {{/properties}}
    }
};



