
//data get All
localhost:3000/{{tablemiddleDash}}

//data for get id
localhost:3000/{{tablemiddleDash}}/:id

//data save  post
localhost:3000/{{tablemiddleDash}} 
{
    {{#properties}}
    {{^primary}}
    {{^isDate}}
    {{#is_nullable}}
    "{{nameCamelCase}}":"{{type}}",
    {{/is_nullable}}
    {{^is_nullable}}
    "{{nameCamelCase}}":"{{type}}:required",
    {{/is_nullable}}
    {{/isDate}}
    {{/primary}}
    {{/properties}}
}

//data save  put
localhost:3000/{{middleDashName}}/:id 
{
    {{#properties}}
    {{^primary}}
    {{^isDate}}
    {{#is_nullable}}
    "{{nameCamelCase}}":"{{type}}",
    {{/is_nullable}}
    {{^is_nullable}}
    "{{nameCamelCase}}":"{{type}}:required",
    {{/is_nullable}}
    {{/isDate}}
    {{/primary}}
    {{/properties}}
}

//data for delete
localhost:3000/{{middleDashName}}/:id


